//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Mulish";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1366;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 16px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
@import "./owl/owl.carousel.scss";
@import "./owl/owl.theme.default.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	background: #f2f2f2;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
//<BIGBOARD>====================================================================================================
.bigboard {
	width: 100%;
	height: 540px;
	@media (max-width: $md3+px) {
		height: 340px;
	}
	&__contain {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: absolute;
		z-index: 2;
		height: 100%;
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-left: 95px;
		@media (max-width: $md3+px) {
			margin-left: 20px;
		}
		@media (max-width: 650px) {
			width: 300px;
		}
	}

	&__title {
		font-family: "Playfair";
		@include adaptiv-value("font-size", 48, 34, 0);
		@include adaptiv-value("line-height", 64, 38, 0);
		color: #ffffff;
		margin-bottom: 16px;
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
		color: #ffffff;
		margin-bottom: 24px;
	}

	&__btn {
	}

	&__main-screen {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
//</BIGBOARD>====================================================================================================
//<BLOG>====================================================================================================
.blog {
	padding: 40px 0;
	background: #f2f2f2;
	&__contain {
	}
	&__wrap {
		display: grid;
		grid-template-columns: 49.9% 0.5fr 0.5fr;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"big smallOne smallTwo"
			"big middle middle";
		@include adaptiv-value("grid-gap", 17, 7.5, 0);
		justify-content: center;
		@media (max-width: $md2+px) {
			grid-template-rows: 1fr 0.7fr 0.7fr;
			grid-template-columns: 42vw 42vw;
			grid-template-areas:
				"big big"
				"smallOne smallTwo"
				"middle middle";
		}
		@media (max-width: 50px) {
			grid-template-rows: 1fr 0.5fr 0.5fr;
		}
	}
	&__block {
		position: relative;
		width: 100%;
		height: 100%;
		display: block;
	}
	&__item {
		display: block;
		border-radius: 16px;
		overflow: hidden;
		transition: all 0.3s ease 0s;
		color: #1b2437;
		&:hover {
			box-shadow: 0 0 10px rgb(88, 88, 88);
		}
	}
	&__flex {
		.blog__content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	&__big {
		grid-area: big;
		height: 32vw;
		max-height: 504px;
		@media (max-width: $md3+px) {
			height: 40vw;
		}
		@media (max-width: 500px) {
			height: 200px;
		}
	}

	&__content {
		padding: 32px;
		@media (max-width: $md3+px) {
			padding: 15px;
		}
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__title {
		font-family: Playfair;
		font-size: 34px;
		@include adaptiv-value("font-size", 34, 18, 0);
		@include adaptiv-value("line-height", 51, 23, 0);
		letter-spacing: 0.4px;
		color: #ffffff;
		&_b {
			color: #000;
		}
	}

	&__date {
		font-weight: 600;
		font-size: 20px;
		line-height: 25px;
		color: #ffffff;
		margin: 11px 0 24px;
		@media (max-width: $md4+px) {
			align-self: flex-end;
			margin: 5px 0 10px;
		}
	}

	&__btn {
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		color: #ffffff;
		background: #ffffff5b;
		border-radius: 8px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 32px;
		padding: 0 22px;
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__small {
		grid-area: smallTwo;
		&_w {
			grid-area: smallOne;
			background: #efeff4;
			.blog__content {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}
	}

	&__subtitle {
		margin-bottom: 16px;
	}

	&__middle {
		grid-area: middle;
	}
}
//</BLOG>====================================================================================================
//<PRODUCTS>====================================================================================================
.products {
	margin-bottom: 40px;
	position: relative;

	&__contain {
		background-color: #fff;
		border-radius: 16px;
		padding: 50px 0 65px;
	}

	&__wrap {
		position: relative;
	}

	.owl-dots {
		position: absolute;
		right: 0;
		bottom: -45px;
		left: 0;
		z-index: 15;
		display: flex;
		justify-content: center;
		margin-right: 15%;
		margin-left: 15%;
		list-style: none;

		.owl-dot {
			span {
				border-radius: 50%;
				display: inline-block;
				box-sizing: content-box;
				width: 8px;
				height: 8px;
				margin: 0 6px;
				cursor: pointer;
				background: rgba(27, 36, 55, 0.2);
				transition: opacity 0.6s ease;
			}
			&.active {
				span {
					opacity: 1;
					position: relative;
					background: rgba(27, 36, 55, 1);
					&::before {
						content: "";
						width: 16px;
						height: 16px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border-radius: 50%;
						border: 1px solid rgba(27, 36, 55, 0.4);
					}
				}
			}
		}
		.dot-prev,
		.dot-next {
			span {
				background: rgba(27, 36, 55, 0.6) !important;
			}
		}
		.dot-prev-prev,
		.dot-next-next {
			span {
				background: rgba(27, 36, 55, 0.4) !important;
			}
		}
	}

	&__slider {
	}
}

.slider {
	max-width: 79.25%;
	margin: 0 auto;

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}

	&__image {
		height: 140px;
		margin-bottom: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img {
		object-fit: contain;
	}

	&__text {
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		color: #1b2437;
	}
}

//</PRODUCTS>====================================================================================================
//<COLLECTION>====================================================================================================
.collection {
	margin-bottom: 20px;
	font-family: "Playfair";
	@include adaptiv-value("font-size", 34, 24, 0);
	@include adaptiv-value("line-height", 45, 35, 0);
	letter-spacing: 0.4px;
	color: #1b2437;
	@media (max-width: $md3+px) {
		margin-bottom: 20px;
	}
	&__contain {
	}

	&__main-title {
		margin-bottom: 33px;
	}

	&__wrap {
	}

	&__slider {
		position: relative;
	}
	.owl-nav {
		display: inline-block;
		margin: 0;
		position: relative;
		width: 220px;
	}
	.owl-prev,
	.owl-next {
		position: absolute;
		z-index: 100;
		width: 40px;
		height: 40px;
		border-radius: 25px;
	}
	.owl-prev {
		background: #fff url("../img/icons/arrow.svg") center/ contain no-repeat !important;
		left: 0;
	}
	.owl-next {
		background: #fff url("../img/icons/arrow_n.svg") center/ contain no-repeat !important;
		transform: translateY(-20px);
		right: 0;
	}
	.owl-carousel .owl-item {
		height: auto !important;
	}
	.owl-stage {
		display: flex;
	}
	&__arr {
		position: absolute !important;
		right: 0;
		top: -65px;
	}
	&__dots {
		width: 200px;
		overflow: hidden;
		background: transparent !important;
		margin: 0 !important;
		padding: 0 !important;
		display: flex !important;
		justify-content: center;
		align-items: center;
		overflow: visible;
		.owl-dot {
			display: none !important;
			background-color: transparent !important;
			width: 8px;
			height: 8px;
			border-radius: 50%;

			&.active {
				span {
					opacity: 1;
					position: relative;
					background: rgba(27, 36, 55, 1) !important;
					&::before {
						content: "";
						width: 16px;
						height: 16px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						border-radius: 50%;
						border: 1px solid rgba(27, 36, 55, 0.4);
					}
				}
			}
		}
		.dot-prev-prev,
		.dot-prev,
		.owl-dot.active,
		.dot-next,
		.dot-next-next {
			display: inline-block !important;
		}
		.dot-prev,
		.dot-next {
			span {
				background: rgba(27, 36, 55, 0.6) !important;
			}
		}
		.dot-prev-prev,
		.dot-next-next {
			span {
				background: rgba(27, 36, 55, 0.4) !important;
			}
		}
	}

	&__item {
		border-radius: 25px;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		background-color: #fff;
	}

	&__picture {
		flex: 0 0 50%;
	}

	&__img {
		object-fit: cover;
		object-position: center;
	}

	&__block {
		flex: 1 1 50%;
		padding: 24px 32px;
		@media (max-width: $md3+px) {
			padding: 10px 15px;
		}
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	&__title {
		margin-bottom: 14px;
	}

	&__text {
		line-height: 24px;
		color: #8e8e93;
		font-family: Mulish;
		font-size: 16px;
		margin-bottom: 5px;
	}

	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
		@media (max-width: 500px) {
			flex-direction: row;
		}
	}

	&__price {
		display: flex;
		align-items: center;
	}

	&__valuthe {
		position: relative;
		bottom: -10px;
		font-size: 24px;
		line-height: 32px;
		margin-right: 8px;
	}

	&__btn {
		font-family: Mulish;
		font-weight: 600;
		font-size: 20px;
		line-height: 25px;
		color: #eda3b5;
		border: 2px solid #eda3b5;
		@media (max-width: $md3+px) {
			margin-top: 15px;
		}
		@media (max-width: 500px) {
			margin-top: 0;
		}
	}
}

//</COLLECTION>====================================================================================================
