//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext

@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Mulish";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1366;
$maxWidthContainer: 1140;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: #000;
	font-size: 16px;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
//<BIGBOARD>====================================================================================================
.bigboard {
	width: 100%;
	height: 540px;
	@media (max-width: $md3+px) {
		height: 340px;
	}
	&__contain {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: absolute;
		z-index: 2;
		height: 100%;
		width: 400px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		margin-left: 95px;
		@media (max-width: $md3+px) {
			margin-left: 20px;
		}
		@media (max-width: 650px) {
			width: 300px;
		}
	}

	&__title {
		font-family: "Playfair";
		@include adaptiv-value("font-size", 48, 34, 0);
		@include adaptiv-value("line-height", 64, 38, 0);
		color: #ffffff;
		margin-bottom: 16px;
	}
	&__text {
		font-size: 16px;
		line-height: 24px;
		color: #ffffff;
		margin-bottom: 24px;
	}

	&__btn {
	}

	&__main-screen {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
//</BIGBOARD>====================================================================================================
//<BLOG>====================================================================================================
.blog {
	padding: 40px 0;
	background: #f2f2f2;
	&__contain {
	}

	&__wrap {
		display: grid;
		grid-template-columns: 42vw 20.2vw 20.2vw;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"big smallOne smallTwo"
			"big middle middle";
		@include adaptiv-value("grid-gap", 24, 7.5, 0);
		justify-content: center;
		@media (max-width: $md2+px) {
			grid-template-rows: 1fr 0.7fr 0.7fr;
			grid-template-columns: 42vw 42vw;
			grid-template-areas:
				"big big"
				"smallOne smallTwo"
				"middle middle";
		}
		@media (max-width: 50px) {
			grid-template-rows: 1fr 0.5fr 0.5fr;
		}
	}
	&__block {
		position: relative;
		width: 100%;
		height: 100%;
	}
	&__item {
		border-radius: 16px;
		overflow: hidden;
	}
	&__flex {
		.blog__content {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
	&__big {
		grid-area: big;
		height: 33.22vw;
		@media (max-width: $md3+px) {
			height: 40vw;
		}
		@media (max-width: 500px) {
			height: 200px;
		}
	}

	&__content {
		padding: 32px;
		@media (max-width: $md3+px) {
			padding: 15px;
		}
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__title {
		font-family: Playfair;
		font-size: 34px;
		@include adaptiv-value("font-size", 34, 18, 0);
		@include adaptiv-value("line-height", 51, 23, 0);
		letter-spacing: 0.4px;
		color: #ffffff;
		&_b {
			color: #000;
		}
	}

	&__date {
		font-weight: 600;
		font-size: 20px;
		line-height: 25px;
		color: #ffffff;
		margin: 11px 0 24px;
		@media (max-width: $md4+px) {
			align-self: flex-end;
			margin: 5px 0 10px;
		}
	}

	&__btn {
		font-weight: 700;
		font-size: 14px;
		line-height: 18px;
		color: #ffffff;
		background: #ffffff5b;
		border-radius: 8px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		height: 32px;
		padding: 0 22px;
		transition: all 0.3s ease 0s;
		&:hover {
			color: #1b2437;
			background: #ffffffd2;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__small {
		grid-area: smallTwo;
		&_w {
			grid-area: smallOne;
			background: #efeff4;
			.blog__content {
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
			}
		}
	}

	&__subtitle {
		margin-bottom: 16px;
	}

	&__middle {
		grid-area: middle;
	}
}

//</BLOG>====================================================================================================
